[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/gmcs"]
	path = bundle/gmcs
	url = https://github.com/vim-scripts/gmcs.vim.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/current-func-info"]
	path = bundle/current-func-info
	url = https://github.com/tyru/current-func-info.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/visual-increment"]
	path = bundle/visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/cmdline-completion"]
	path = bundle/cmdline-completion
	url = https://github.com/vim-scripts/cmdline-completion.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/indexedsearch"]
	path = bundle/indexedsearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/greplace.vim"]
	path = bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/cagatayyuksel/dbext.vim.git
[submodule "bundle/simple-pairs"]
	path = bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule "bundle/vim-erlang-skeletons"]
	path = bundle/vim-erlang-skeletons
	url = https://github.com/aerosol/vim-erlang-skeletons.git
[submodule "vim-shell"]
	path = vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "vim-easytags"]
	path = vim-easytags
	url = https://github.com/xolox/vim-easytags.git
